/*=============================================================================================*/
/* Projeto......: Byte do Bem
/* Modulo.......: common.css 
/* Objetivo.....: CSS comum a todo o site
/*=============================================================================================*/
/* Vrs001-08-11-2017-Nivaldo-Implantacao
/*=============================================================================================*/
/*
/*     Fontes importadas no index.html:
/*     -------------------------------
/*          font-family: 'Roboto';
/*          font-family: 'Roboto Condensed';
/*          font-family: 'Roboto Mono'; 
/*          font-family: 'Roboto Slab';
/*
/*=============================================================================================*/

body {
    background-color: #E3F2FD;
    font-family: 'Roboto';
}

/*==============================================================
                   NAVBAR PRINCIPAL (COM MENU)
==============================================================*/

.cm_navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2979FF;
    box-shadow: 0px 6px 10px grey;
}

.cm_navbar-nome-app {
    color: #ffffff;
    font-size: 32px;
    font-family: 'Roboto';
    font-weight: bold;
    font-variant: small-caps;
    text-shadow: 4px 8px 16px #000000;
}

.cm_navbar-icon-menu {
    color: #ffffff;
    position: absolute;
    right: 34px;
    font-size: 40px;
}

/*-------------------------------
           MENU OVERLAY
-------------------------------*/

.cm_overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.cm_overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.cm_overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.cm_overlay a:hover, .cm_overlay a:focus {
    color: #f1f1f1;
}

.cm_overlay .cm_closebtn {
    position: absolute;
    top: 6px;
    right: 20px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .cm_overlay a {font-size: 20px}
  .cm_overlay .cm_closebtn {
    font-size: 40px;
    top: 10px;
    right: 35px;
  }
}

/*==============================================================
                     NAVBAR SECUNDARIO (SÓ <)
==============================================================*/

.cm_navbar-icon-retorno {
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;  
    padding-left: 6px;
    padding-right: 8px; 
}

.cm_navbar-nome-tela {
    color: #ffffff;
    font-size: 28px;
    font-family: 'Roboto';
    font-weight: bold;
    vertical-align: middle;
}

/*==============================================================
                            FOOTER
==============================================================*/

.cm_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #448AFF;
    color: white;
    text-align: center;
    padding-top: 12px;
    box-shadow: 0px -2px 6px grey;
}

.cm_footer-texto {
    font-size: 20px;
    color: #ffffff; 
    font-family: 'Roboto Condensed';
    text-decoration: none;   
}

/*==============================================================
                            LOADER
==============================================================*/

.cm_loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -38px 0 0 -38px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
