
body {
    background-color: #FFFFFF;
}








.pd_img-user {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 3px;
    width: 100px;
}


.pd_box-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    border: 1px solid #bee5eb;
    border-radius: 8px;
    box-shadow: 4px 4px 4px #aaa;
}


/* ======================================================================
                              P A D D I N G
=======================================================================*/

.pd_padding-top-bottom {
    padding-top: 90px;
    padding-bottom: 100px;
}

.pd_padding-5 {
    padding: 5px;
}

.pd_padding-10 {
    padding: 10px;
}

.pd_padding-20 {
    padding: 20px;
}


/* ======================================================================
                               S H A D O W
=======================================================================*/

.pd_botao-shadow {
    box-shadow: 8px 8px 8px #aaa;
}

.pd_texto-shadow {
    text-shadow: 8px 8px 8px #aaa;
}


/* ======================================================================
                     B A C K G R O U N D   C O L O R
====================================================================== */

.pd_bgcor-dodgerBlue {
  background-color: #1E90FF;
}


/* ======================================================================
                               F O N T E S
====================================================================== */

/* ------ FONTE - SIZE ------ */
/* -------------------------- */

.pd_fonte-14px {
    font-size: 14px;
}

.pd_fonte-16px {
    font-size: 16px;
}

.pd_fonte-18px {
    font-size: 18px;
}

.pd_fonte-20px {
    font-size: 20px;
}

.pd_fonte-22px {
    font-size: 22px;
}

.pd_fonte-24px {
    font-size: 24px;
}

.pd_fonte-30px {
    font-size: 30px;
}

/* ------ FONTE - FAMILY ------ */
/* ---------------------------- */

.pd_fonte-verdana {
    font-family: Verdana,Geneva,sans-serif;
}

.pd_fonte-arial {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

/* ------ FONTE - COLOR ------ */
/* --------------------------- */

.pd_cor-dodgerBlue {
  color: #1E90FF;
}

.pd_cor-slateGray {
  color: #708090;
}

.pd_cor-steelBlue {
  color: #4682B4;
}

.pd_cor-tomato {
  color: #FF6347;
}

/* ------ FONTE - DIVERSOS ------ */
/* ------------------------------ */

.pd_fonte-italic {
    font-style: italic;
}

.pd_fonte-bold {
    font-weight: bold;
}

.pd_fonte-variant {
    font-variant: small-caps;
}

.pd_text-left {
    text-align: left;
}

.pd_text-nowrap {
    white-space: nowrap;
}


/* ======================================================================
                               L O A D E R
=======================================================================*/

.pd_loader {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 35%;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
