

.id_tituLeitEvang {
    color: #FF6347;
    font-size: 22px;
    font-family: Verdana,Geneva,sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    padding-bottom: 10px;
}

.id_subtLeitEvang {
    color: #0c5460;
    font-size: 20px;
    font-family: Verdana,Geneva,sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    padding-bottom: 12px;
}

.id_textLeitEvang {
    color: #0c5460;
    font-size: 16px;
    font-family: font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.id_versLeitEvang {
    color: #000000;
    font-weight: bold;
}




/*
.ev365_botao-lida {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    border: 1px solid #bee5eb;
    border-radius: 8px;
    box-shadow: 4px 4px 4px #aaa;
}
*/



#navTop {
    background-color: #1565C0;
    box-shadow: 8px 8px 8px #aaa;
}

#navBottom {
    background-color: #1976D2;
    /* box-shadow: 5px -15px 15px -15px #aaa; */
    /* box-shadow: 15px -1px 8px 8px #aaa; */
}

#linhaMenu {
    background-color: #1976D2;
}





