/*=============================================================
Projeto......: ByteDoBem
Aplicativo...: Evangelho365
Modulo.......: evangelho365.css
Objetivo.....: CSS para o Evangelho365
===============================================================
Vrs001-13/11/2017-Nivaldo-Implantação.
=============================================================*/



/*====================================================
               CONFIGURAÇÃO DA NAVBAR
====================================================*/

.navbar.fixed-top {
    box-shadow: 0px 4px 8px grey;
}

.bg-navbar-top {
    background-color: #1565c0 !important;
}
  
a.bg-navbar-top:focus, a.bg-navbar-top:hover {
    background-color: #0d47a1 !important;
}

.bg-navbar-bottom {
    background-color: #1976d2 !important;
}
  
a.bg-navbar-bottom:focus, a.bg-navbar-bottom:hover {
    background-color: #0d47a1 !important;
}
 
#id_iconRetorno {
    padding-right: 10px;
}

.tamanhoIcon {
    width: 30px;
    height: 30px;
}

.espacoLados {
    padding-left: 10px;
    padding-right: 10px;
}